body {
    margin: 0;
    font-family: 'Arimo', sans-serif;
}

* {
    -webkit-overflow-scrolling: touch;
}

#darkModeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
}

p {
    color: black;
}

footer {
    background-color: #00d9ed;
    height: 300px;
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 5%;
}

h1 {
    width: 100%;
}

h4 {
    margin-bottom: 5px;
    font-size: 1.2em;
}

h6 {
    margin-top: 5px;
    font-size: .7em;
}

hr {
    border: none;
    width: 50%;
    background-color: #e0e0e0;
    height: .9px;
}

#aboutMeText {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 24px;
    height: 100px;
    text-align: center;
}

#ColeSnyder {
    color: #2d2d2d; 
    opacity: 0;
    text-align: center;
    width: 100%;
    font-size: 2em; 
    -webkit-animation: fadeIn 500ms forwards; 
    -moz-animation: fadeIn 500ms forwards; 
    -o-animation: fadeIn 500ms forwards;
    animation: fadeIn 500ms forwards;  
    animation-delay: 500ms;
}

#ColeSnyderTitle {
    font-size: 2.5em;
}

#roundAvitar {
    border-radius: 25px;
    width: 25%;
    margin-top: 5%;
}

#FrontEndDeveloper {
    color: #2d2d2d;
    opacity: 0;
    font-size: 30px;
    -webkit-animation: appear 600ms forwards; 
    -moz-animation: appear 600ms forwards; 
    -o-animation: appear 600ms forwards;
    animation: appear 600ms forwards; 
    -webkit-animation: fadeIn 500ms forwards; 
    -moz-animation: fadeIn 500ms forwards; 
    -o-animation: fadeIn 500ms forwards;
    animation: fadeIn 500ms forwards; 
    animation-delay: 600ms;
}

.title {
    position: relative;
    width: 20%;
    background-color: #00d9ed;
    color: white;
    padding-left: 2%;
    font-size: 40px;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 95%, 90% 0);
}

#linkedin {
    background-image: url("../PHOTOS/linkedin.png");
    background-size: cover;
    width: 75px;
    height: 75px;
}

#github {
    background-image: url("../PHOTOS/github.png");
    background-size: cover;
    width: 75px;
    height: 75px;
}

#resume {
    background-image: url("../PHOTOS/resume-2169945_640.png");
    background-size: cover;
    width: 75px;
    height: 75px;
}

.MainContainer {
    perspective: 1px;
    height: 100vh;
  }

#para1 {
    background-color: #DDDDDD;
    position: relative;
    min-height: 100%; 
}

#para2 {
    background-color: white;
    min-height: 100%;
}

#para3 {
    background-color: #DDDDDD;
    min-height: 100%;
    padding-bottom: 10%;
}

#para4 {
    z-index: 1;
    background-color: white;
    min-height: 100%;
    display: block;
    padding-bottom: 5%;
}

#ColeSnyderResume {
    background-color: white;
    min-height: 100%;
    width: 100%;
}

#contactList {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top: 1%;
}

#html {
    background-image: url("../PHOTOS/HTML.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}

#css {
    background-image: url("../PHOTOS/CSS.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}

#js {
    background-image: url("../PHOTOS/js.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}

#node {
    background-image: url("../PHOTOS/node.png");
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
}

#react {
    background-image: url("../PHOTOS/reactnative.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}

#firebase {
    background-image: url("../PHOTOS/firebase.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}

#photoshop {
    background-image: url("../PHOTOS/adobe.jpg");
    background-size: cover;
    width: 50px;
    height: 50px;
}

#php {
    background-image: url("../PHOTOS/php.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}

#sql {
    background-image: url("../PHOTOS/sql.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}

#powershell {
    background-image: url("../PHOTOS/powershell.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}

#java {
    background-image: url("../PHOTOS/java.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}

#headshot {
    background-image: url("../PHOTOS/cole.jpg");
    background-size: cover;
    width: 115px;
    height: 115px;
    border-radius: 5px;
}

#pen {
    font-size: 8em;
    color: #565656;
}

#comp {
    font-size: 5.6em;
    color: #565656;
}

#meeting {
    font-size: 8em;
    color: #565656;
}

#work {
    font-size: 8em;
    color: #565656;
}

.contactBox {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
}

.extendedListActive {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
}

.extendedListOption {
    display: none;
}

#MoreLessToggle {
    text-align: center;
    margin-bottom: 0;
}

span:hover {
    cursor: pointer;
}

.skill {
    height: 350px;
    width: 100%;
    background-color: #DDDDDD;
    border-radius: 4px;
}

.skillHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #00d9ed;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    border-radius: 4px;
}

.skillText {
    padding-left: 7%;
    padding-right: 7%;
    color: #2d2d2d;
}

.about {
    padding-left: 10%;
    padding-right: 10%;
}

#aboutList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.skillInfo {
    padding-left: 10%;
    width: 75%;
    height: 150px;
}

.hobbyInfo {
    padding-left: 10%;
    width: 75%;
    padding-bottom: 5%;
}

.paraSection {
    padding-top: 1%;
}

.experienceBox {
    display: flex;
    margin: 0;
    flex-direction: row;
    border-radius: 4px;
    padding-bottom: 5%;
}

.experienceText {
    margin-top: 5%;
    margin-right: -4%;
    margin-bottom: 2%;
    background-color: white;
    width: 50%;
    border-radius: 4px;
    padding: 3%;
    z-index: 3;
}

#darkModeExperience {
    margin: 0;
}

.experiencePic {
    width: 75%;
    background-size: cover;
}

#bubs {
    background-image: url("../PHOTOS/bubs.png");
}

#pc {
    background-image: url("../PHOTOS/PC.PNG");
}

.experienceItem {
    width: 75%;
    margin: auto;
}

.TitleNoMargin {
    margin: 0;
    color: black;
}

.experienceItemTitle:hover {
    cursor: pointer;
}

#colesnyderart {
    color: #00d9ed;
}

.hub {
    position: relative;
    float: right;
    width: 25px;
    height: 25px;
}

.hub:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1060px) {
    #list {
        grid-template-columns: 1fr 1fr;
    }
    .extendedListActive {
        grid-template-columns: 1fr 1fr;
    }
    #roundAvitar {
        width: 30%;
    }
  }

  @media only screen and (min-width: 700px) {
    .MainContainer {
        perspective: 1px;
        transform-style: preserve-3d;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
      }
    
    #para1 {
        display: flex;
        background-color: #DDDDDD;
        position: relative;
        min-height: 100%; 
        max-height: 100%;
        transform: translateZ(-1px) scale(2);
        z-index: -1;
    }
  }

  @media only screen and (max-width: 700px) {
    #list {
        grid-template-columns: 1fr;
    }
    .extendedListActive {
        grid-template-columns: 1fr;
    }
    #headshot {
        width: 70px;
        height: 70px;
    }
    #comp {
        font-size: 2.8em;
    }
    #pen {
        font-size: 4em;
    }
    .hobbyInfo {
        padding-left: 0%;
        width: 100%;
        padding-bottom: 5%;
    }
    .title {
        font-size: 20px;
    }
    footer {
        height: 375px;
    }
    #roundAvitar {
        width: 50%;
    }
    #ColeSnyderTitle {
        font-size: 2.5em;
    }
    #tag {
        float: none; 
    }
  }

@keyframes fadeIn {
    0% {-webkit-transform: translateY(40px); opacity: 0;} 
    100% {-webkit-transform: translateY(0); opacity: 1;}
}

@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#darkmodebutton {
    position: absolute;
    display: inline;
    top: 0px;
    right: 1%;
    z-index: 3;
} 

#darkmodetag {
    float: right;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
    cursor: pointer;
	text-indent: -9999px;
	width: 50px;
    height: 30px;
	background: #333333;
	display: block;
	border-radius: 100px;
    position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
    left: 5px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #666666;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 20px;
}

#tag {
    float: right;
    margin-top: 27px;
    margin-left: 5px;
}

#button {
    float: left;
}