body {
    margin: 0;
    font-family: 'Arimo', sans-serif;
}

#resumeContent {
    background-color: #DDDDDD;
    margin-top: 0;
}

* {
    -webkit-overflow-scrolling: touch;
}

#darkModeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
}

p {
    color: #383D40;
    font-size: .9em;
}

footer {
    background-color: #1a1b1c;
    height: 300px;
    color: #D9C484;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
}

h1 {
    width: 100%;
}

.findme {
    font-size: 3em;
}

h3 {
    margin-bottom: 0px;
}

h6 {
    margin-top: 5px;
    font-size: .7em;
}

hr {
    border: none;
    width: 50%;
    background-color: #d9d9d9;
    height: 1px;
}

#ColeSnyder {
    color: #D9C484; 
    text-align: center;
    width: 100%;
    font-size: 2em; 
}

#ColeSnyderTitle {
    font-size: 2.5em;
    opacity: 0;
    letter-spacing: .1em;
    font-family: 'Molengo', sans-serif;
    -webkit-animation: appear 600ms forwards; 
    -moz-animation: appear 600ms forwards; 
    -o-animation: appear 600ms forwards;
    animation: appear 600ms forwards; 
    -webkit-animation: fadeIn 500ms forwards; 
    -moz-animation: fadeIn 500ms forwards; 
    -o-animation: fadeIn 500ms forwards;
    animation: fadeIn 500ms forwards;  
    animation-delay: 800ms;
}

#roundAvitar {
    border-radius: 25px;
    width: 25%;
    margin-top: 5%;
    opacity: 0;
    -webkit-animation: appear 600ms forwards; 
    -moz-animation: appear 600ms forwards; 
    -o-animation: appear 600ms forwards;
    animation: appear 600ms forwards; 
    -webkit-animation: fadeIn 500ms forwards; 
    -moz-animation: fadeIn 500ms forwards; 
    -o-animation: fadeIn 500ms forwards;
    animation: fadeIn 500ms forwards;  
    animation-delay: 400ms;
}

#FrontEndDeveloper {
    opacity: 0;
    font-size: 30px;
    -webkit-animation: appear 600ms forwards; 
    -moz-animation: appear 600ms forwards; 
    -o-animation: appear 600ms forwards;
    animation: appear 600ms forwards; 
    -webkit-animation: fadeIn 500ms forwards; 
    -moz-animation: fadeIn 500ms forwards; 
    -o-animation: fadeIn 500ms forwards;
    animation: fadeIn 500ms forwards; 
    animation-delay: 1000ms;
}

.title {
    text-align: center;
    font-size: 40px;
    color: #383D40;
}

.titleBox {
    display: inline;
}

#hiddenHR {
    visibility: hidden;
}

#linkedin {
    background-image: url("../PHOTOS/linkedin.png");
    background-size: cover;
    width: 75px;
    height: 75px;
}

#github {
    background-image: url("../PHOTOS/githubDarkMode.png");
    background-size: cover;
    width: 75px;
    height: 75px;
}

#resume {
    background-image: url("../PHOTOS/resume-2169945_640.png");
    background-size: cover;
    width: 75px;
    height: 75px;
}

.MainContainer {
    perspective: 1px;
    height: 100vh;
}

#para1 {
    background-color: #1a1b1c;
    min-height: 100%; 
}

#para2 {
    background-color: #f2f2f2;
    min-height: 100%;
    padding-bottom: 5%;
}

#para3 {
    background-color: #f2f2f2;
    min-height: 100%;
    padding-bottom: 10%;
}

#para4 {
    z-index: 1;
    background-color: #f2f2f2;
    display: block;
    padding-top: 1%;
    padding-bottom: 5%;
}

#ColeSnyderResume {
    padding-top: 1%;
    background-color: #f2f2f2;
    min-height: 100%;
    width: 100%;
    padding: 0;
}

.listPic {
    background-size: cover;
    width: 50px;
    height: 50px;
}

#html {
    background-image: url("../PHOTOS/HTML.png");
}

#css {
    background-image: url("../PHOTOS/CSS.png");
}

#js {
    background-image: url("../PHOTOS/js.png");
}

#node {
    background-image: url("../PHOTOS/node.png");
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
}

#react {
    background-image: url("../PHOTOS/reactnative.png");
}

#firebase {
    background-image: url("../PHOTOS/firebase.png");
}

#photoshop {
    background-image: url("../PHOTOS/adobe.jpg");
}

#php {
    background-image: url("../PHOTOS/php.png");
}

#sql {
    background-image: url("../PHOTOS/sql.png");
}

#powershell {
    background-image: url("../PHOTOS/powershell.png");
}

#java {
    background-image: url("../PHOTOS/java.png");
}

#headshot {
    background-image: url("../PHOTOS/cole.jpg");
    background-size: cover;
    width: 115px;
    height: 115px;
    border-radius: 5px;
}

#hobbyHeader {
    display: flex;
    margin-left: -10%;
}

.hobbyTitle {
    position: relative;
    float:left;
}

.aboutTitle {
    margin-left: 20px;
    position: absolute;
    bottom: 0;
    font-family: 'Oxygen', sans-serif;
    color: #5A6C73;
}

.lightContent {
    color: #5A6C73;
}

#pen {
    font-size: 8em;
    color: #383D40;
}

#comp {
    font-size: 5.6em;
    color: #383D40;
}

.contactBox {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
}

.extendedListActive {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
}

.extendedListOption {
    display: none;
}

#MoreLessToggle {
    text-align: center;
    margin-bottom: 0;
}

span:hover {
    cursor: pointer;
}

.skill {
    height: 225px;
    width: 100%;
    background-color: #DDDDDD;
    border-radius: 4px;
}

.skillHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D9C484;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
}

.skillText {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 15px;
    color: #2d2d2d;
}

.about {
    padding-left: 10%;
    padding-right: 10%;
}

.hobbyInfo {
    padding-left: 10%;
    width: 90%;
    padding-bottom: 5%;
}

.paraSection {
    padding-top: 1%;
    margin-bottom: 20px;
}

.experienceTitle {
    margin-bottom: 5%;
    font-size: 1.5em;
}

.link {
    color: #bd9d40;
}

.experienceClass {
    font-size: 1.5em;
}

.gold {
    color: #D9C484;
}

.hub {
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
}

.hub:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1060px) {
    #list {
        grid-template-columns: 1fr 1fr;
    }
    .extendedListActive {
        grid-template-columns: 1fr 1fr;
    }
    #roundAvitar {
        width: 30%;
    }
}

@media only screen and (min-width: 700px) {
    .MainContainer {
        perspective: 1px;
        transform-style: preserve-3d;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
      }
    
    #para1 {
        display: flex;
        /* background-color: #1a1b1c; */
        position: relative;
        min-height: 100%; 
        max-height: 100%;
        transform: translateZ(-1px) scale(2);
        z-index: -1;
    }
    #skillHover {
        position: relative;
        top: 0;
        transition: top ease 0.5s;
    }
    
    #skillHover:hover {
        top: -10px;
    }
}

@media only screen and (max-width: 700px) {
    #list {
        grid-template-columns: 1fr;
    }
    img {
        width: 350px;
    }
    .extendedListActive {
        grid-template-columns: 1fr;
    }
    #headshot {
        width: 70px;
        height: 70px;
    }
    #comp {
        font-size: 2.8em;
    }
    #pen {
        font-size: 4em;
    }
    .hobbyInfo {
        padding-left: 0%;
        width: 100%;
        padding-bottom: 5%;
    }
    .title {
        font-size: 40px;
    }
    footer {
        height: 375px;
    }
    #roundAvitar {
        width: 50%;
    }
    #ColeSnyderTitle {
        font-size: 2.5em;
    }
    #darkmodetag {
        font-size: .8em;
        margin-top: 3px;
    }
    h4 {
        font-size: 1em;
    }
    .backwardsRow {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
      }
      .backwardsRow .first {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
      }
      .backwardsRow .second {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
      }
}

@keyframes fadeIn {
    0% {-webkit-transform: translateY(40px); opacity: 0;} 
    100% {-webkit-transform: translateY(0); opacity: 1;}
}

@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#darkmodebutton {
    position: absolute;
    display: inline;
    top: 0px;
    right: 1%;
    z-index: 3;
} 

#darkmodetag {
    float: right;
    color: #D9C484;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
    cursor: pointer;
	text-indent: -9999px;
	width: 50px;
    height: 30px;
	background: #333333;
	display: block;
	border-radius: 100px;
    position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
    left: 5px;
	width: 20px;
	height: 20px;
	background: #D9C484;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #666666;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 20px;
}

#tag {
    float: right;
    margin-top: 27px;
    margin-left: 5px;
}

#button {
    float: left;
}

.not-visible {
    opacity: 0;
}

.is-visible {
    -webkit-animation: fadeIn 1000ms forwards; 
    -moz-animation: fadeIn 1000ms forwards; 
    -o-animation: fadeIn 1000ms forwards;
    animation: fadeIn 1000ms forwards;  
    animation-delay: 250ms;
}

@keyframes fadeInOnScroll {
    0% {-webkit-transform: translateY(40px); opacity: 0;} 
    50% {-webkit-transform: translateY(40px); opacity: 0;}
    100% {-webkit-transform: translateY(0); opacity: 1;}
}