body {
    margin: 0;
    font-family: 'Arimo', sans-serif;
}

#darkModeButton {
    position: absolute;
    top: 20px;
    right: 20px;
}

p {
    color: black;
}

footer {
    background-color: #00d9ed;
    height: 300px;
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 5%;
}

h1 {
    width: 100%;
}

h4 {
    margin-bottom: 5px;
}

h6 {
    margin-top: 5px;
}

hr {
    border: none;
    width: 50%;
    background-color: #e0e0e0;
    height: .9px;
}

#aboutMeText {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 24px;
    height: 100px;
    text-align: center;
}

#ColeSnyder {
    margin-top: 10%;
    color: #00d9ed; 
    opacity: 0;
    text-align: right; 
    width: 50%;
    font-size: 3em; 
    -webkit-animation: fadeIn 500ms forwards; 
    -moz-animation: fadeIn 500ms forwards; 
    -o-animation: fadeIn 500ms forwards;
    animation: fadeIn 500ms forwards;  
    animation-delay: 500ms;
}

#Avitar {
    width: 50%;
    margin: auto;
}

#roundAvitar {
    border-radius: 25px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#cole {
    float: left;
}

#snyder {
    float: right;
}

#FrontEndDeveloper {
    float: right;
    color: #2d2d2d;
    opacity: 0;
    font-size: 30px;
    -webkit-animation: appear 600ms forwards; 
    -moz-animation: appear 600ms forwards; 
    -o-animation: appear 600ms forwards;
    animation: appear 600ms forwards; 
    -webkit-animation: fadeIn 500ms forwards; 
    -moz-animation: fadeIn 500ms forwards; 
    -o-animation: fadeIn 500ms forwards;
    animation: fadeIn 500ms forwards; 
    animation-delay: 600ms;
}

.title {
    position: relative;
    width: 20%;
    background-color: #00d9ed;
    color: white;
    padding-left: 2%;
    font-size: 40px;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 95%, 90% 0);
}

#linkedin {
    background-image: url("../PHOTOS/linkedin.png");
    background-size: cover;
    width: 75px;
    height: 75px;
}

#github {
    background-image: url("../PHOTOS/github.png");
    background-size: cover;
    width: 75px;
    height: 75px;
}

#resume {
    background-image: url("../PHOTOS/resume-2169945_640.png");
    background-size: cover;
    width: 75px;
    height: 75px;
}

.MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }

#para1 {
    display: flex;
    background-color: #DDDDDD;
    flex: 1 0 auto;
    position: relative;
    height: 100vh;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

#para2 {
    z-index: 1;
    background-color: white;
    min-height: 100%;
    display: block;
    position: relative;
}

#para3 {
    height: 100%;
    background-color: #DDDDDD;
    min-height: 100%;
    padding-bottom: 5%;
}

#para4 {
    background-color: white;
    min-height: 100%;
}

#para5 {
    height: 750px;
    background-color: #DDDDDD;
    min-height: 100%;
}

#ColeSnyderResume {
    background-color: white;
    min-height: 100%;
    width: 100%;
}

#contactList {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top: 1%;
}

#html {
    background-image: url("../PHOTOS/HTML.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}

#css {
    background-image: url("../PHOTOS/CSS.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}

#js {
    background-image: url("../PHOTOS/js.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}

#node {
    background-image: url("../PHOTOS/node.png");
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
}

#react {
    background-image: url("../PHOTOS/reactnative.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}

#firebase {
    background-image: url("../PHOTOS/firebase.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}

#photoshop {
    background-image: url("../PHOTOS/adobe.jpg");
    background-size: cover;
    width: 50px;
    height: 50px;
}

#headshot {
    background-image: url("../PHOTOS/cole.jpg");
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 5px;
}

#pen {
    font-size: 8em;
    color: #565656;
}

#comp {
    font-size: 6em;
    color: #565656;
}

#meeting {
    font-size: 8em;
    color: #565656;
}

#work {
    font-size: 8em;
    color: #565656;
}

.contactBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
}

.skill {
    height: 350px;
    width: 300px;
    background-color: #DDDDDD;
    border-radius: 4px;
}

.skillHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #00d9ed;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    border-radius: 4px;
}

.skillText {
    padding-left: 7%;
    padding-right: 7%;
    color: #2d2d2d;
}

.aboutLayout {
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    width: 65%;
    margin-top: 10px; 
}

#aboutList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.skillInfo {
    padding-left: 10%;
    width: 75%;
    height: 150px;
}

.hobbyInfo {
    padding-left: 10%;
    width: 75%;
    padding-bottom: 5%;
}

.paraSection {
    padding-top: 1%;
}

.experienceBox {
    display: flex;
    margin: 0;
    flex-direction: row;
    border-radius: 4px;
    padding: 5%;
    padding-left: 0;
    padding-top: 0;
}

.experienceText {
    margin-top: 5%;
    background-color: white;
    height: 50%;
    width: 100%;
    border-radius: 4px;
    margin-right: -4%;
    padding: 3%;
    z-index: 3;
}

#darkModeExperience {
    margin: 0;
}

/* .experiencePic {
    width: 25%;
} */

#bubs {
    background-size: 100% 100%;
}

#pc {
    width: 550px;
    height: 325px;
}

.experienceItem {
    width: 75%;
    margin: auto;
}

.TitleNoMargin {
    margin: 0;
    color: black;
}

.experienceItemTitle:hover {
    cursor: pointer;
}

#colesnyderart {
    color: #00d9ed;
}

@media only screen and (max-width: 1060px) {
    #list {
        grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (max-width: 700px) {
    #list {
        grid-template-columns: 1fr;
    }
  }


@keyframes fadeIn {
    0% {-webkit-transform: translateY(40px); opacity: 0;} 
    100% {-webkit-transform: translateY(0); opacity: 1;}
}

@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}